<div class="cart-container">
  <div class="cart-details-container flex column-direction">
    <div class="cart-item-list-container width-100 text--mediumsecondary">
      <div
        class="cart-item-container width-100 flex space-between"
        *ngFor="let cartItem of this.cartItemList"
        (swipeleft)="cartItem.active = true"
        (click)="this.cartItemClicked(cartItem)"
        [class.item--active]="cartItem.active"
      >
        <div class="sub-item-info-container width-70" [class.width-60]="cartItem.active">
          <p class="text--bold text--mediumsecondary">{{ cartItem.name }}</p>
          <div class="child-item-info-container pl-2 mt-1">
            <p *ngFor="let childItem of cartItem.childItemList" class="text--grey text--medium">{{ childItem.name }}</p>
          </div>
        </div>
        <p class="text--numeric">{{ cartItem.count }}</p>
        <p class="text--numeric">{{ cartItem.price | number: '.2-2' }}</p>
        <div *ngIf="cartItem.active" class="actions-container flex direction-column text--center">
          <div *ngIf="this.source == 'order'" class="width-100 action p-1">
            <p class="text--primary">Delete</p>
          </div>
          <div class="flex width-100">
            <span class="action width-50">
              <img src="assets/images/cart/add.svg" alt="add" />
            </span>
            <span class="action width-50">
              <img src="assets/images/cart/subtract.svg" alt="subtract" />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="cost-and-pay-container width-100 text--mediumsecondary flex  direction-column"
      [class.justify-end]="this.source == 'subItemDialog'"
    >
      <div class="cost-container width-100">
        <div *ngIf="this.source == 'order'" class="sub-cost-container flex width-100 space-between">
          <p class="width-70 text--bold text--primary text--bold">Sub Total</p>
          <p class="text--numeric">1</p>
          <p class="text--primary text--numeric">90.00</p>
        </div>
        <div *ngIf="this.source == 'order'" class="sub-cost-container flex width-100 space-between">
          <p class="width-70 text--bold">Vat Tax</p>
          <p class="text--numeric">12%</p>
          <p class="text--numeric">10.80</p>
        </div>
      </div>

      <div class="pay-container width-100">
        <button mat-flat-button color="primary" class="button--pay rounded-button mt-4 width-100">
          <div class="flex space-between text--bold">
            <p class="text--bold text--left width-70" [class.width-60] = "this.source == 'subItemDialog'">{{ this.source == 'order' ? 'Pay Now' : 'Add' }}</p>
            <p>Total</p>
            <p class="text--numeric">100.80</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
