<div class="cart-container">
  <div class="header-container flex space-between">
    <span>&nbsp;</span>
    <p class="text--xlarge">Billing</p>
    <img src="assets/images/navbar/scanner.svg" alt="Customer avatar" class="customer-avatar" />
  </div>
  <div class="cart-details-container flex">
    <div class="content text--center">
      <p class="text--xlarge text--grey">
        No Items Added
      </p>
      <p class="text--large text--grey">
        Keep adding items from the displayed menu
      </p>
    </div>
  </div>
</div>
