<div class="cart-container">
  <div class="cart-details-container flex column-direction">
    <div class="cart-item-list-container width-100 text--mediumsecondary">
      <div
        class="cart-item-container width-100 flex space-between"
        *ngFor="let subItem of this.cartItemList"
        (swipeleft)="subItem.active = true"
        (click)="subItem.active = false"
        [class.item--active]="subItem.active"
      >
        <p class="width-50 text--semibold">{{ subItem.name }}</p>
        <p>{{ subItem.count }}</p>
        <p>{{ subItem.price | number: '.2-2' }}</p>
        <div *ngIf="subItem.active" class="actions-container flex direction-column text--center">
          <div *ngIf="this.source == 'order'" class="width-100 action p-1">
            <p class="text--primary">Delete</p>
          </div>
          <div class="flex width-100">
            <span class="action width-50">
              <img src="assets/images/cart/add.svg" alt="add" />
            </span>
            <span class="action width-50">
              <img src="assets/images/cart/subtract.svg" alt="subtract" />
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="cost-and-pay-container width-100 text--mediumsecondary flex  direction-column"
      [class.justify-end]="this.source == 'subItemDialog'"
    >
      <div class="cost-container width-100">
        <div *ngIf="this.source == 'order'" class="sub-cost-container flex width-100 space-between">
          <p class="width-50 text--semibold text--primary">Sub Total</p>
          <p>1</p>
          <p class="text--primary">90.00</p>
        </div>
        <div *ngIf="this.source == 'order'" class="sub-cost-container flex width-100 space-between">
          <p class="width-50 text--semibold">Vat Tax</p>
          <p>12%</p>
          <p>10.80</p>
        </div>
      </div>

      <div class="pay-container width-100">
        <button mat-flat-button color="primary" class="button--pay rounded-button mt-4 width-100">
          <div class="flex space-between">
            <p class="text--semibold text--left">{{ this.source == 'order' ? 'Pay Now' : 'Add' }}</p>
            <p>Total&nbsp;&nbsp;&nbsp;100.80</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
