<div class="header-container flex space-between">
  <div class="category-container flex justify-start">
    <p class="text--largesecondary text--bold text--primary">Choose Customer</p>
  </div>
  <mat-icon color="primary" class="cursor-pointer" (click)="this.closeDialog()">close</mat-icon>
</div>
<hr />
<div class="body-container"></div>
<hr />
<div class="footer-container flex justify-start">
  <button mat-stroked-button color="primary" class="m-2 spaced-letters">
    <span class="text--bold">Add new customer</span>
  </button>
</div>
