<div class="main-container flex space-between">
  <div class="menu-container flex justify-start">
    <div class="logo-container">
      <img src="assets/images/navbar/ipos-logo.svg" alt="Ipos Logo" class="ipos-logo" />
    </div>
    <div class="tabs-container flex space-evenly">
      <button mat-flat-button color="primary" class="rounded-button">
        Dine In
      </button>
      <button mat-flat-button color="primary" class="rounded-button">
        Delivery
      </button>
      <button mat-flat-button color="primary" class="rounded-button">
        Take Away
      </button>
      <button mat-flat-button color="primary" class="rounded-button">
        Sales
      </button>
    </div>
  </div>
  <div class="customer-info-container flex justify-end">
    <div class="info-container">
      <p class="text--large">Customer company name</p>
    </div>
    <div class="ml-4 avatar-container">
      <img src="assets/images/navbar/customer-avatar.svg" alt="Customer avatar" class="customer-avatar" />
    </div>
  </div>
</div>
