<div class="main-container flex space-between">
  <div class="menu-container flex justify-start">
    <div class="logo-container">
      <img src="assets/images/navbar/ipos-logo.svg" alt="Ipos Logo" class="ipos-logo" />
    </div>
    <div class="tabs-container flex justify-start text--normal text--bold">
      <button
        mat-flat-button
        color="primary"
        class="rounded-button"
        (click)="this.activeTab = 'dineIn'"
        [class.active]="this.activeTab == 'dineIn'"
        [disableRipple]="true"
      >
        Dine In
      </button>
      <button
        mat-flat-button
        color="primary"
        class="rounded-button"
        (click)="this.activeTab = 'delivery'"
        [class.active]="this.activeTab == 'delivery'"
        [disableRipple]="true"
      >
        Delivery
      </button>
      <button
        mat-flat-button
        color="primary"
        class="rounded-button"
        (click)="this.activeTab = 'takeAway'"
        [class.active]="this.activeTab == 'takeAway'"
        [disableRipple]="true"
      >
        Take Away
      </button>
      <button
        mat-flat-button
        color="primary"
        class="rounded-button"
        (click)="this.activeTab = 'sales'"
        [class.active]="this.activeTab == 'sales'"
        [disableRipple]="true"
      >
        Sales
      </button>
    </div>
  </div>
  <div class="customer-info-container flex justify-end">
    <div class="info-container">
      <p class="text--large">Customer company name</p>
    </div>
    <div class="ml-4 avatar-container cursor-pointer" (click)="this.openLoginDialog()">
      <img src="assets/images/navbar/customer-avatar.svg" alt="Customer avatar" class="customer-avatar" />
    </div>
  </div>
</div>
