@mixin table-status-moderator($color) {
  border: 1px solid $color;

  .lapsed-time,
  .status {
    color: $color;
  }

  .basic-info-container {
    border-bottom: 1px solid $color;
  }
}

.header-container {
  height: 40px;
}

.status-container,
.header-container .category-container {
  p {
    margin: 0 12px;
  }
}

.status-container {
  .text--ordering {
    color: #ff8a00;
  }

  .text--available {
    color: #00d53c;
  }

  .text--billing {
    color: #1e7be8;
  }
}

.table-card-container,
.active-table-card-container {
  width: 100px;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 12px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.active-table-card-container {
  border: none;
  .basic-info-container {
    height: 120px;
    background-color: #ff8a00;
    border-radius: inherit;

    p {
      margin: 2px 0;
    }
  }
}

.table-card-container {
  .basic-info-container {
    height: 65px;
    border-bottom: 1px solid grey;
  }

  .status-container {
    height: 25px;
    text-transform: capitalize;
  }

  &.status--ordering {
    @include table-status-moderator(#ff8a00);
  }

  &.status--available {
    @include table-status-moderator(#00d53c);
  }

  &.status--billing {
    @include table-status-moderator(#1e7be8);
  }
}
