/** The range of color palletes used goes here**/

$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;
$ipos-client-primary: (
  50: #f3e0e0,
  100: #e2b3b3,
  200: #cf8080,
  300: #bc4d4d,
  400: #ad2626,
  500: #9f0000,
  600: #970000,
  700: #8d0000,
  800: #830000,
  900: #720000,
  A100: #ffa1a1,
  A200: #ff6e6e,
  A400: #ff3b3b,
  A700: #ff2121,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ipos-client-accent: (
  50: #fcfcfc,
  100: #f8f8f8,
  200: #f4f4f4,
  300: #efefef,
  400: #ebebeb,
  500: #e8e8e8,
  600: #e5e5e5,
  700: #e2e2e2,
  800: #dedede,
  900: #d8d8d8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$app-primary-background: #9f0000;
$app-primary: #9f0000;
$app-warn: red;
