<div *ngIf="!isSmallScreen; else smallScreenTemplate" class="app-container">
  <div class="navbar-container">
    <ipos-navbar></ipos-navbar>
  </div>
  <div class="router-outlet-container">
    <ipos-order></ipos-order>
    <!-- <ipos-tables></ipos-tables> -->
  </div>
</div>

<ng-template #smallScreenTemplate>
  <div class="flex width-height-100 mt-4">
    <div class="body-container flex direction-column justify-start text--center">
      <p class="text--xlarge text--blue">{{ this.title }}</p>
      <p class="text--normal mt-4">
        Please view the application on desktop or on devices with wider display.
      </p>
      <p class="text--normal mt-2">
        We are going to roll out the mobile version very soon.
      </p>
    </div>
  </div>
</ng-template>
