@import './../../../styles/utilities/color-palette.scss';

.pay-container {
  width: 100%;
  height: 100%;

  @media screen and (min-width: 1200px) {
    .cart-container {
      width: 30%;
    }
    .payment-block-container {
      width: 70%;
    }
  }

  @media screen and (max-width: 1200px) {
    .cart-container {
      width: 37%;
    }
    .payment-block-container {
      width: 63%;
    }
  }

  .payment-block-container {
    height: 100%;
    overflow-y: auto;

    .header-container {
      height: 56px;
      border-bottom: 1px solid lightgrey;
      padding: 0 8%;

      .button--tables {
        background: rgba(255, 0, 0, 0.38);
        color: $app-primary-background;
      }
    }

    .payment-component-container {
      height: calc(100% - 56px);
      padding: 12px 8%;
    }
  }

  .cart-container {
    height: 100%;
    overflow-y: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);

    .header-container {
      height: 56px;
      border-bottom: 1px solid lightgrey;
      padding: 0 24px;

      .order-count {
        background: $app-primary-background;
        padding: 4px;
        border-radius: 15px;
        width: 30px;
        text-align: center;
      }
    }

    .cart-component-container {
      height: calc(100% - 56px);
    }
  }
}
