<div class="order-container flex">
  <div class="main-item-lookup-container">
    <div class="table-and-search-container flex space-between">
      <button mat-flat-button color="primary" class="button--tables rounded-button m-2" (click)="this.openTablesDialog()">
        Table 2
      </button>
      <input placeholder="Type to search food item" class="text--medium item-search-field form-control" />
    </div>
    <div class="main-item-list-container">
      <ipos-main-item-list></ipos-main-item-list>
    </div>
  </div>
  <div class="cart-container">
    <ipos-cart></ipos-cart>
  </div>
</div>
